body {
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: black; /* 글씨 색깔 검은색으로 설정 */
}

th {
    background-color: #f2f2f2;
}

/* 최근 사용자와 학번 셀의 간격을 조정 */
th:nth-child(6), td:nth-child(6),
th:nth-child(7), td:nth-child(7) {
    padding: 2px; /* 최근 사용자와 학번 셀에 대한 새로운 간격 */
}

form {
    margin: 0;
    padding: 0;
}

button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #1976D2;
}
