.caution {
margin-bottom: 30px;
}

.caution h3 {
color: #006694;
font-size: 35px;
margin-right: 355px;
}

.caution .c_info {
display: flex;
align-items: center;
flex-direction: row-reverse;
margin-right: 1000px;
}

.caution .c_info p {
display: block;
margin-top: -10px;
padding-left: 50px;
text-align: left;
font-weight: bold;
color: #006694;
font-size: 20px;
}

.c {
display: block;
margin-top: 20px;
padding-left: 10px;
text-align: left;
font-weight: bold;
color: #006694;
font-size: 28px;
font-style: italic;
border-bottom: 1.3px solid #006694;
}

.building {
  margin-bottom: 40px;
}

.building .info {
display: flex;
align-items: center;
flex-direction: row-reverse;
margin-right: 500px;
}

.building .info p {
padding-left: 50px;
text-align: left;
font-weight: bold;
}

.icon {
font-weight: normal;
font-size: 16px;
}

.building .info img {
max-width: 40%;
margin-left: 452px;
height: auto;
margin-bottom: 10px;
}

.building h3 {
color: #006694;
font-size: 35px;
margin-right: 600px;
}

.building p {
color: #006694;
font-size: 20px;
}
