<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비품 관리 시스템</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/equipments.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="header">
        <a href="/">
          <img src="{{ url_for('static', filename='img/logo2.png') }}" class="logo" alt="Soongsil University Logo">
        </a>
        <nav>
          <ul class="container ul-reset">
            {% include 'navbar.html' %}
          </ul>
        </nav>
    </div>

    <div class="container1">
        <div class="aside">
            <h3> 게시판 </h3>
            <a href="javascript:void(0)">
            공지사항
            </a>
            <a href="javascript:void(0)" class="active">
            비품게시판
            </a>
    </div>

    <div class="main-content">
        <div class="top_bg">
          <h3>숭실대 AI융합학부</h3>
          <p>게시판</p>
        </div>

        <div class="path">
            <ul>
              <li>
                <i class="fa-solid fa-house">&nbsp;</i>
                <i class="fa-solid fa-angle-right">&nbsp;</i>
              </li>
              <li>게시판</li>
              <li>
              <i class="fa-solid fa-angle-right">&nbsp;</i>
              </li>
              <li>비품게시판</li>
            </ul>
            <h4></h4>
          </div>

<main>   
    <div class="title">비품 등록</div>       
    <div class="container-eq">
        <div class="content-eq">
            <form action="/add_equipment" method="POST">
                <div class="eq-details">
                    <div class="input-box">
                        <label for="detail">이름:</label>
                        <input type="text" id="name" name="name">
                    </div>
                    <div class="input-box">
                        <label for="detail">카테고리:</label>
                        <input type="text" id="category" name="category">
                    </div>
                    <div class="input-box">
                        <label for="detail">설명:</label>
                        <textarea id="description" name="description"></textarea>
                    </div>
                    <div class="input-box">
                        <label for="detail">수량:</label>
                        <input type="number" id="quantity" name="quantity">
                    </div>
                    <div class="input-box">
                        <label for="detail">구매일:</label>
                        <input type="date" id="purchase_date" name="purchase_date">
                    </div>
                    <div class="input-box">
                        <label for="detail">위치:</label>
                        <input type="text" id="location" name="location">
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="등록">
                </div>
            </form>
        </div>
    </div>

    <div class="title">비품 목록</div>
    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>이름</th>
                <th>카테고리</th>
                <th>설명</th>
                <th>수량</th>
                <th>최근 사용자</th>
                <th>학번</th>
                <th>구매일</th>
                <th>위치</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            {% for equipment in equipments %}
            <tr>
                <td>{{ equipment.id }}</td>
                <td>{{ equipment.name }}</td>
                <td>{{ equipment.category }}</td>
                <td>{{ equipment.description }}</td>
                <td>
                    {{ equipment.quantity }}&nbsp;&nbsp;
                    <form action="/modify_equipment_minus" method="POST">
                        <input type="hidden" name="id" value="{{ equipment.id }}">
                        <input type="hidden" name="quantity" value="{{ equipment.quantity }}">
                        <button>-1</button>
                    </form>
                    <form action="/modify_equipment_plus" method="POST">
                        <input type="hidden" name="id" value="{{ equipment.id }}">
                        <input type="hidden" name="quantity" value="{{ equipment.quantity }}">
                        <button>+1</button>
                    </form>
                </td>
                <td>{{ equipment.latest_name }}</td>
                <td>{{ equipment.latest_number }}</td>
                <td>{{ equipment.purchase_date }}</td>
                <td>{{ equipment.location }}</td>
                <td>
                    <form action="/delete_equipment" method="POST">
                        <input type="hidden" name="id" value="{{ equipment.id }}">
                        <button type="submit">삭제</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
    {%with messages = get_flashed_messages()%}
    {%if messages %}
      <script type="text/javascript"> //Flask에서 경고문이 왔다면 창에 띄워준다
        alert("{{messages[-1]}}");
      </script>
      {%endif%}
    {%endwith%}
</body>
</html>
