<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facility Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/facility.css')}}">
</head>
<body>

    <div class="header">

        <img src="{{ url_for('static', filename='img/logo2.png') }}" class="logo" alt="Soongsil University Logo">
        
        <nav>
            <ul class="container ul-reset">
              <li class='droppable'>
                <a href='#'>게시판</a>
                <div class='mega-menu'>
                  <div class="container cf">
                    <ul class="ul-reset">
                      <li><a href='#'>시설 안내</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>비품 게시판</a></li>
                      <li><a href='#'>공지사항</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>강의실 예약</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>예약 확인</a></li>
                      <li><a href='#'>예약 취소</a></li>
                      <li><a href='#'>예약 변경</a></li>
                    </ul>
                    <ul class="ul-reset">
                        <li><h2>학과</h2></li>
                        <li><h2>학번</h2></li>
                        <li><h2>이름</h2></li>
                    </ul>

                  </div>
                </div>
              </li>
              <li class='droppable'>
                <a href='#'>시설 안내</a>
                <div class='mega-menu'>
                  <div class="container cf">
                    <ul class="ul-reset">
                      <li><a href='#'>시설 안내</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>비품 게시판</a></li>
                      <li><a href='#'>공지사항</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>강의실 예약</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>예약 확인</a></li>
                      <li><a href='#'>예약 취소</a></li>
                      <li><a href='#'>예약 변경</a></li>
                    </ul>
                    <ul class="ul-reset">
                        <li><h2>학과</h2></li>
                        <li><h2>학번</h2></li>
                        <li><h2>이름</h2></li>
                    </ul>

                  </div>
                </div>
              </li>
              <li class='droppable'>
                <a href='#'>예약하기</a>
                <div class='mega-menu'>
                  <div class="container cf">
                    <ul class="ul-reset">
                      <li><a href='#'>시설 안내</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>비품 게시판</a></li>
                      <li><a href='#'>공지사항</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>강의실 예약</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>예약 확인</a></li>
                      <li><a href='#'>예약 취소</a></li>
                      <li><a href='#'>예약 변경</a></li>
                    </ul>
                    <ul class="ul-reset">
                        <li><h2>학과</h2></li>
                        <li><h2>학번</h2></li>
                        <li><h2>이름</h2></li>
                    </ul>

                  </div>
                </div>
              </li>
              <li class='droppable'>
                <a href='#'>내 예약</a>
                <div class='mega-menu'>
                  <div class="container cf">
                    <ul class="ul-reset">
                      <li><a href='#'>시설 안내</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>비품 게시판</a></li>
                      <li><a href='#'>공지사항</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>강의실 예약</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>예약 확인</a></li>
                      <li><a href='#'>예약 취소</a></li>
                      <li><a href='#'>예약 변경</a></li>
                    </ul>
                    <ul class="ul-reset">
                        <li><h2>학과</h2></li>
                        <li><h2>학번</h2></li>
                        <li><h2>이름</h2></li>
                    </ul>

                  </div>
                </div>
              </li>
              <li class='droppable'>
                <a href='#'>내 정보</a>
                <div class='mega-menu'>
                  <div class="container cf">
                    <ul class="ul-reset">
                      <li><a href='#'>시설 안내</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>비품 게시판</a></li>
                      <li><a href='#'>공지사항</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>강의실 예약</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>예약 확인</a></li>
                      <li><a href='#'>예약 취소</a></li>
                      <li><a href='#'>예약 변경</a></li>
                    </ul>
                    <ul class="ul-reset">
                        <li><h2>학과</h2></li>
                        <li><h2>학번</h2></li>
                        <li><h2>이름</h2></li>
                    </ul>

                  </div>
                </div>
              </li>

    </div>

    <div class="container1">
        <div class="aside">
            <h3> 시설 안내 </h3>
            <a href="javascript:void(0)">
            세미나실 안내
            </a>
        </div>

        <div class="main-content">
          <div class="top_bg">
            <h3>숭실대 AI융합학부</h3>
            <p>세미나실 안내</p>
          </div>

          <div class="path">
            <ul>
              <li>
                <i class="fa-solid fa-house">&nbsp;</i>
                <i class="fa-solid fa-angle-right">&nbsp;</i>
              </li>
              <li>시설 안내</li>
            </ul>
            <h4>세미나실</h4>
          </div>

            <div id="building1" class="building">
                <h3>세미나실 1</h3>
                <div class="info">
                  <p>4~5인실<br>1팀당 1시간 예약 가능<br>
                  <span class="icon"><i class="fa-solid fa-plug"></i> 콘센트 <br>
                  <i class="fa-solid fa-wind"></i> 에어컨</span></p>
                  <img src="{{ url_for('static', filename='img/lecture_hall.jpg') }}" alt="세미나실 1">
                </div>
            </div>
            <div id="building2" class="building">
                <h3>세미나실 2</h3>
                <div class="info">
                  <p>4~5인실<br>1팀당 1시간 예약 가능<br>
                    <span class="icon"><i class="fa-solid fa-plug"></i> 콘센트 <br>
                    <i class="fa-solid fa-wind"></i> 에어컨</span></p>
                  <img src="{{ url_for('static', filename='img/lecture_hall.jpg') }}" alt="세미나실 2">
                </div>
            </div>
            <div id="building3" class="building">
                <h3>세미나실 3</h3>
                <div class="info">
                  <p>4~5인실<br>1팀당 1시간 예약 가능<br>
                    <span class="icon"><i class="fa-solid fa-plug"></i> 콘센트 <br>
                    <i class="fa-solid fa-wind"></i> 에어컨</span></p>
                  <img src="{{ url_for('static', filename='img/lecture_hall.jpg') }}" alt="세미나실 3">
                </div>
            </div>
        </div>

    </div>

    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
          }
          
          function closeNav() {
            document.getElementById("myNav").style.width = "0%";
          }
        
    </script>

</body>
</html>
