<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/sytle_login_account.css')}}">
        <title>Login | Register</title>
    </head>

    <body>
        <div class="container" id="container">
            <div class="form-container sign-up">
                <form>
                    <h1>Register</h1>
                    <div class="social-icon">
                        <a href="#" class="icon"><i class="fa-brands fa-google"></i></a>
                        <a href="#" class="icon"><i class="fa-solid fa-n"></i></a>
                        <a href="#" class="icon"><i class="fa-solid fa-comment"></i></a>
                    </div>
                    <span>새로운 계정 생성하기</span>
                    <input type="text" placeholder="name">
                    <input type="text" placeholder="id">
                    <input type="password" placeholder="password">
                    <button>Submit</button>
                </form>
            </div>

            <div class="form-container sign-in">
                <form>
                    <h1>Login</h1>
                    <div class="social-icon">
                        <a href="#" class="icon"><i class="fa-brands fa-google"></i></a>
                        <a href="#" class="icon"><i class="fa-solid fa-n"></i></a>
                        <a href="#" class="icon"><i class="fa-solid fa-comment"></i></a>
                    </div>
                    <span>계정으로 로그인하기</span>
                    <input type="text" placeholder="id">
                    <input type="password" placeholder="password">
                    <a href="#">비밀번호를 잊으셨나요?</a>
                    <button>Login</button>
                </form>
            </div>

            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <h1>Welcome Back!</h1>
                        <h3>로그인 후 사이트를 이용하세요</h3>
                        <button class="hidden" id="login">Login</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>First time?</h1>
                        <h3>회원가입 후 사이트를 이용하세요</h3>
                        <button class="hidden" id="register">Register</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/login_script.js') }}"></script>
    </body>
</html>
