<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/sytle_login_account.css')}}">
        <title>Login | Register</title>
    </head>

    <body>
        <div class="container" id="container">
            <div class="form-container sign-up">
                <form method="POST" action="/register">
                    <h1>Register</h1>
                    <span>새로운 계정 생성하기</span>
                    <input type="text" name="regi_name" placeholder="name">
                    <input type="text" name="regi_sn" placeholder="student_number">
                    <input type="text" name="regi_pn" placeholder="phone number">
                    <input type="text" name="regi_id" placeholder="id">
                    <input type="password" name="regi_pw" placeholder="password">
                    <button>Submit</button>
                </form>
            </div>

            <div class="form-container sign-in">
                <form method="POST"> <!-- 수정된 부분 -->
                    <h1>Login</h1>
                    <span>계정으로 로그인하기</span>
                    <input type="text" name="login_id" placeholder="id"> <!-- 수정된 부분 -->
                    <input type="password" name="login_pw" placeholder="password"> <!-- 수정된 부분 -->
                    <a href="#">비밀번호를 잊으셨나요?</a>
                    <button type="submit">Login</button> <!-- 수정된 부분 -->
                </form>
            </div>
            

            <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-panel toggle-left">
                        <h1>환영합니다!</h1>
                        <h3>로그인 후 사이트를 이용하세요</h3>
                        <button class="hidden" id="login">Login</button>
                    </div>
                    <div class="toggle-panel toggle-right">
                        <h1>처음이신가요?</h1>
                        <h3>회원가입 후 사이트를 이용하세요</h3>
                        <button class="hidden" id="register">Register</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/login_script.js') }}"></script>
        {%with messages = get_flashed_messages()%}
        {%if messages %}
          <script type="text/javascript"> //Flask에서 경고문이 왔다면 창에 띄워준다
            alert("{{messages[-1]}}");
          </script>
          {%endif%}
        {%endwith%}
    </body>
</html>
