<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hero Section</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

</head>

<body>
    <div class="header">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Soongsil University Logo">
    </div>
    <div class="hero">
        <div class="hero-overlay">
            <p class="hero-text">역사로 미래를 여는 대학, 숭실대학교 AI융합학부</p>
            <button class="login-btn"onclick="location.href='login_account.html'">로그인</button>
        </div>
        <button class="btn">시설 안내</button>
        <button class="btn">예약하기</button>
        <button class="btn">공지사항</button>
        <button class="btn">비품 게시판</button>
        <button class="btn">내 예약</button>
    </div>

    <div style="margin-top: 200px;"></div>

    <p style="text-align: center; color: #006694; font-size: 20px; margin-bottom: 20px;">저희 AI융합학부에는 3개의 세미나실이 준비되어 있습니다.</p>

    <div style="margin-top: 100px;"></div>

    <div class="card-container">
        <div class="card">
            <img src="{{ url_for('static', filename='img/lecture_hall.jpg') }}" alt="Lecture Hall 1">
            <div class="card-content">
                <h2 class="card-title">세미나실 1</h2>
                <p class="card-description">인원 4 ~ 6명</p>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='img/lecture_hall.jpg') }}" alt="Lecture Hall 2">
            <div class="card-content">
                <h2 class="card-title">세미나실 2</h2>
                <p class="card-description">인원 4 ~ 6명</p>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='img/lecture_hall.jpg') }}" alt="Lecture Hall 3">
            <div class="card-content">
                <h2 class="card-title">세미나실 3</h2>
                <p class="card-description">인원 4 ~ 6명</p>
            </div>
        </div>
    </div>

    <div style="margin-top: 50px;"></div>
    <p style="text-align: center; color: #006694; font-size: 15px; margin-bottom: 20px;">세미나실을 선택하면 더 자세한 정보를 볼 수 있습니다.</p>
    <div style="margin-top: 100px;"></div>

    <div class="footer">
        <p>06978 서울시 동작구 상도로 369 숭실대학교 형남공학관 424호</p>
        <p>E-Mail : smartsystem@soongsil.ac.kr | Tel: 02-820-0950</p>
    </div>

</body>

</html>
