<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hero Section</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="header">
        <img src="{{ url_for('static', filename='img/logo2.png') }}" class="logo" alt="Soongsil University Logo">
        
        <div class="navbar" id="navbar">
            <div class="dropdown">
                <button class="dropbtn">시설 안내</button>
                <button class="dropbtn">게시판</button>
                <button class="dropbtn">강의실 예약</button>
                <button class="dropbtn">내 예약</button>
                <button class="dropbtn">내 정보</button>
                <div class="dropdown-content">
                    <div class="row">
                        <div class="column">
                            <p3><br>이름: 김땡땡<br><br>학과: AI융합학부<br><br>학번: 20241234</p3>
                        </div>
                        <div class="column">
                            <a href="#">예약 확인</a>
                            <a href="#">예약 취소</a>
                            <a href="#">예약 변경</a>
                        </div>
                        <div class="column">
                            <a href="#">  강의실 예약</a>
                        </div>
                        <div class="column">
                            <a href="#">공지사항</a>
                            <a href="#">비품 게시판</a>
                        </div>
                        <div class="column">
                            <a href="#">시설 안내</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
              <a href="#">시설 안내</a>
              <a href="#">게시판</a>
              <a href="#">강의실 예약</a>
              <a href="#">내 예약</a>
              <a href="#">내 정보</a>
            </div>
          </div>

          <span style="font-size:30px;cursor:pointer" onclick="openNav()" class="openbtn">&#9776;</span>
    </div>
    
        <div class="hero">
            <div class="hero-overlay">
                <h1 class="hero-text">역사로 미래를 여는 대학<br>숭실대학교 AI융합학부</h1>
                <button class="login-btn"onclick="location.href='/login_account'">로그인</button>
            </div>
            <button class="btn">시설 안내</button>
            <button class="btn">예약하기</button>
            <button class="btn">공지사항</button>
            <button class="btn">비품 게시판</button>
            <button class="btn">내 예약</button>
        </div>

    <div style="margin-top: 200px;"></div>

    <p style="text-align: center; color: #006694; font-size: 20px; margin-bottom: 20px;">저희 AI융합학부에는 3개의 세미나실이 준비되어 있습니다.</p>

    <div style="margin-top: 100px;"></div>

    <div class="card-container">
        <div class="card">
            <img src="{{ url_for('static', filename='img/lecture_hall.jpg') }}" alt="Lecture Hall 1">
            <div class="card-content">
                <h2 class="card-title">세미나실 1</h2>
                <p class="card-description">인원 4 ~ 6명</p>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='img/lecture_hall.jpg') }}" alt="Lecture Hall 2">
            <div class="card-content">
                <h2 class="card-title">세미나실 2</h2>
                <p class="card-description">인원 4 ~ 6명</p>
            </div>
        </div>

        <div class="card">
            <img src="{{ url_for('static', filename='img/lecture_hall.jpg') }}" alt="Lecture Hall 3">
            <div class="card-content">
                <h2 class="card-title">세미나실 3</h2>
                <p class="card-description">인원 4 ~ 6명</p>
            </div>
        </div>
    </div>

    <div style="margin-top: 50px;"></div>
    <p style="text-align: center; color: #006694; font-size: 15px; margin-bottom: 20px;">세미나실을 선택하면 더 자세한 정보를 볼 수 있습니다.</p>
    <div style="margin-top: 100px;"></div>

    <div class="footer">
        <p>06978 서울시 동작구 상도로 369 숭실대학교 형남공학관 424호</p>
        <p>E-Mail : smartsystem@soongsil.ac.kr | Tel: 02-820-0950</p>
    </div>

    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
          }
          
          function closeNav() {
            document.getElementById("myNav").style.width = "0%";
          }
        
    </script>
    
</body>

</html>
