<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSU AI Seminar Room</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{{url_for('static', filename='img/favicon.png')}}" type="image/favicon">
</head>

<body>
  <div class="header">
      <a href="/">
          <img src="{{ url_for('static', filename='img/logo2.png') }}" class="logo" alt="Soongsil University Logo">
      </a>

    <nav>
      <ul class="container ul-reset">
        {% include 'navbar.html' %}
      </ul>
    </nav>
  </div>
        <div class="hero">
            <div class="hero-overlay">
                <h1 class="hero-text">역사로 미래를 여는 대학<br>숭실대학교 AI융합학부</h1>
                <button class="login-btn"onclick="location.href='/login_account'">로그인</button>
            </div>
            <button class="btn" onclick="location.href='/facility'">시설 안내</button>
            <button class="btn" onclick="location.href='/reserve'">예약하기</button>
            <button class="btn" onclick="location.href='/notice_board'">공지 사항</button>
            <button class="btn" onclick="location.href='/equipments'">비품 게시판</button>
            <button class="btn">내 예약</button>
        </div>

    <div style="margin-top: 200px;"></div>

    <h1>세미나실 예약 현황</h1>

    <div style="margin-top: 100px;"></div>

    <div id='mainCalendar'></div>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('mainCalendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: '/get-reservations',
                eventDisplay: 'block',
                displayEventTime: false,
                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: false,
                    hour12: false
                }
            });
            calendar.render();
        });
    </script>

    <div style="margin-top: 50px;"></div>

    <button class="reserve-btn" onclick="location.href='/reserve'">세미나실 예약하러 가기</button>

    <div style="margin-top: 200px;"></div>

    <div class="footer">
        <p>06978 서울시 동작구 상도로 369 숭실대학교 형남공학관 424호</p>
        <p>E-Mail : smartsystem@soongsil.ac.kr | Tel: 02-820-0950</p>
    </div>

    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
          }
          
          function closeNav() {
            document.getElementById("myNav").style.width = "0%";
          }
        
    </script>
    
</body>

</html>
