<!DOCTYPE html>
<html>
        <li class='droppable'>
          <a href='#'>시설 안내</a>
          <div class='mega-menu'>
            <div class="container cf">
              <ul class="ul-reset">
                <li><a href="/facility">시설 안내</a></li>
              </ul>
              <ul class="ul-reset">
                <li><a href="/equipments">비품 게시판</a></li>
                <li><a href='/notice_board'>공지사항</a></li>
              </ul>
              <ul class="ul-reset">
                 <li><a href='/reserve'>강의실 예약</a></li>
                 <li><a href='/reserve_view'>예약 현황</a></li>
              </ul>
              <ul class="ul-reset">
                 <li><a href='/reserve_my'>예약 확인</a></li>
                 <li><a href='#'>예약 취소</a></li>
                <li><a href='#'>예약 변경</a></li>
              </ul>
              <ul class="ul-reset">
                {% if user_info %}
                <li><h2>학과: 미구현</li>
                <li><h2>학번: {{ user_info.student_num }}</h2></li>
                <li><h2>이름: {{ user_info.student_name }}</h2></li>
                <button class="login-btn" onclick="location.href='/logout'">로그아웃</button>
                <button class="login-btn" onclick="location.href='/mypage'">마이페이지</button>
                {% else %}
                <button class="login-btn" onclick="location.href='/login_account'">로그인 / 회원가입</button>
                {% endif %}
            </ul>

            </div>
          </div>
        </li>
              <li class='droppable'>
                <a href='#'>게시판</a>
                <div class='mega-menu'>
                  <div class="container cf">
                    <ul class="ul-reset">
                      <li><a href="/facility">시설 안내</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href="/equipments">비품 게시판</a></li>
                      <li><a href='/notice_board'>공지사항</a></li>
                    </ul>
                    <ul class="ul-reset">
                       <li><a href='/reserve'>강의실 예약</a></li>
                       <li><a href='/reserve_view'>예약 현황</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='/reserve_my'>예약 확인</a></li>
                      <li><a href='#'>예약 취소</a></li>
                      <li><a href='#'>예약 변경</a></li>
                    </ul>
                    <ul class="ul-reset">
                      {% if user_info %}
                      <li><h2>학과: 미구현</li>
                      <li><h2>학번: {{ user_info.student_num }}</h2></li>
                      <li><h2>이름: {{ user_info.student_name }}</h2></li>
                      <button class="login-btn" onclick="location.href='/logout'">로그아웃</button>
                      <button class="login-btn" onclick="location.href='/mypage'">마이페이지</button>
                      {% else %}
                      <button class="login-btn" onclick="location.href='/login_account'">로그인 / 회원가입</button>
                      {% endif %}
                  </ul>

                  </div>
                </div>
              </li>
              <li class='droppable'>
                <a href='#'>예약하기</a>
                <div class='mega-menu'>
                  <div class="container cf">
                    <ul class="ul-reset">
                      <li><a href="/facility">시설 안내</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href="/equipments">비품 게시판</a></li>
                      <li><a href='/notice_board'>공지사항</a></li>
                    </ul>
                    <ul class="ul-reset">
                       <li><a href='/reserve'>강의실 예약</a></li>
                       <li><a href='/reserve_view'>예약 현황</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='/reserve_my'>예약 확인</a></li>
                      <li><a href='#'>예약 취소</a></li>
                      <li><a href='#'>예약 변경</a></li>
                    </ul>
                    <ul class="ul-reset">
                      {% if user_info %}
                      <li><h2>학과: 미구현</li>
                      <li><h2>학번: {{ user_info.student_num }}</h2></li>
                      <li><h2>이름: {{ user_info.student_name }}</h2></li>
                      <button class="login-btn" onclick="location.href='/logout'">로그아웃</button>
                      <button class="login-btn" onclick="location.href='/mypage'">마이페이지</button>
                      {% else %}
                      <button class="login-btn" onclick="location.href='/login_account'">로그인 / 회원가입</button>
                      {% endif %}
                  </ul>

                  </div>
                </div>
              </li>
              <li class='droppable'>
                <a href='#'>내 예약</a>
                <div class='mega-menu'>
                  <div class="container cf">
                    <ul class="ul-reset">
                      <li><a href="/facility">시설 안내</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href="/equipments">비품 게시판</a></li>
                      <li><a href='/notice_board'>공지사항</a></li>
                    </ul>
                    <ul class="ul-reset">
                       <li><a href='/reserve'>강의실 예약</a></li>
                       <li><a href='/reserve_view'>예약 현황</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='/reserve_my'>예약 확인</a></li>
                      <li><a href='#'>예약 취소</a></li>
                      <li><a href='#'>예약 변경</a></li>
                    </ul>
                    <ul class="ul-reset">
                      {% if user_info %}
                      <li><h2>학과: 미구현</li>
                      <li><h2>학번: {{ user_info.student_num }}</h2></li>
                      <li><h2>이름: {{ user_info.student_name }}</h2></li>
                      <button class="login-btn" onclick="location.href='/logout'">로그아웃</button>
                      <button class="login-btn" onclick="location.href='/mypage'">마이페이지</button>
                      {% else %}
                      <button class="login-btn" onclick="location.href='/login_account'">로그인 / 회원가입</button>
                      {% endif %}
                  </ul>

                  </div>
                </div>
              </li>
              <li class='droppable'>
                <a href='#'>내 정보</a>
                <div class='mega-menu'>
                  <div class="container cf">
                    <ul class="ul-reset">
                      <li><a href="/facility">시설 안내</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href="/equipments">비품 게시판</a></li>
                      <li><a href='/notice_board'>공지사항</a></li>
                    </ul>
                    <ul class="ul-reset">
                       <li><a href='/reserve'>강의실 예약</a></li>
                       <li><a href='/reserve_view'>예약 현황</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='/reserve_my'>예약 확인</a></li>
                      <li><a href='#'>예약 취소</a></li>
                      <li><a href='#'>예약 변경</a></li>
                    </ul>
                    <ul class="ul-reset">
                      {% if user_info %}
                      <li><h2>학과: 미구현</li>
                      <li><h2>학번: {{ user_info.student_num }}</h2></li>
                      <li><h2>이름: {{ user_info.student_name }}</h2></li>
                      <button class="login-btn" onclick="location.href='/logout'">로그아웃</button>
                      <button class="login-btn" onclick="location.href='/mypage'">마이페이지</button>
                      {% else %}
                      <button class="login-btn" onclick="location.href='/login_account'">로그인 / 회원가입</button>
                      {% endif %}
                  </ul>
                  </div>
                </div>
              </li>
 </html>
