<!DOCTYPE html>
<html>
        <li class='droppable'>
          <a href='#'>시설 안내</a>
          <div class='mega-menu'>
            <div class="container cf">
              <ul class="ul-reset">
                <li><a href='#'>시설 안내</a></li>
              </ul>
              <ul class="ul-reset">
                <li><a href='#'>비품 게시판</a></li>
                <li><a href='#'>공지사항</a></li>
              </ul>
              <ul class="ul-reset">
                 <li><a href='#'>강의실 예약</a></li>
              </ul>
              <ul class="ul-reset">
                 <li><a href='#'>예약 확인</a></li>
                 <li><a href='#'>예약 취소</a></li>
                <li><a href='#'>예약 변경</a></li>
              </ul>
              <ul class="ul-reset">
                <li><h2>학과</h2></li>
                <li><h2>학번</h2></li>
                <li><h2>이름</h2></li>
              </ul>

            </div>
          </div>
        </li>
              <li class='droppable'>
                <a href='#'>게시판</a>
                <div class='mega-menu'>
                  <div class="container cf">
                    <ul class="ul-reset">
                      <li><a href='#'>시설 안내</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>비품 게시판</a></li>
                      <li><a href='#'>공지사항</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>강의실 예약</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>예약 확인</a></li>
                      <li><a href='#'>예약 취소</a></li>
                      <li><a href='#'>예약 변경</a></li>
                    </ul>
                    <ul class="ul-reset">
                        <li><h2>학과</h2></li>
                        <li><h2>학번</h2></li>
                        <li><h2>이름</h2></li>
                    </ul>

                  </div>
                </div>
              </li>
              <li class='droppable'>
                <a href='#'>예약하기</a>
                <div class='mega-menu'>
                  <div class="container cf">
                    <ul class="ul-reset">
                      <li><a href='#'>시설 안내</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>비품 게시판</a></li>
                      <li><a href='#'>공지사항</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>강의실 예약</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>예약 확인</a></li>
                      <li><a href='#'>예약 취소</a></li>
                      <li><a href='#'>예약 변경</a></li>
                    </ul>
                    <ul class="ul-reset">
                        <li><h2>학과</h2></li>
                        <li><h2>학번</h2></li>
                        <li><h2>이름</h2></li>
                    </ul>

                  </div>
                </div>
              </li>
              <li class='droppable'>
                <a href='#'>내 예약</a>
                <div class='mega-menu'>
                  <div class="container cf">
                    <ul class="ul-reset">
                      <li><a href='#'>시설 안내</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>비품 게시판</a></li>
                      <li><a href='#'>공지사항</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>강의실 예약</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>예약 확인</a></li>
                      <li><a href='#'>예약 취소</a></li>
                      <li><a href='#'>예약 변경</a></li>
                    </ul>
                    <ul class="ul-reset">
                        <li><h2>학과</h2></li>
                        <li><h2>학번</h2></li>
                        <li><h2>이름</h2></li>
                    </ul>

                  </div>
                </div>
              </li>
              <li class='droppable'>
                <a href='#'>내 정보</a>
                <div class='mega-menu'>
                  <div class="container cf">
                    <ul class="ul-reset">
                      <li><a href='#'>시설 안내</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>비품 게시판</a></li>
                      <li><a href='#'>공지사항</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>강의실 예약</a></li>
                    </ul>
                    <ul class="ul-reset">
                      <li><a href='#'>예약 확인</a></li>
                      <li><a href='#'>예약 취소</a></li>
                      <li><a href='#'>예약 변경</a></li>
                    </ul>
                    <ul class="ul-reset">
                        <li><h2>학과</h2></li>
                        <li><h2>학번</h2></li>
                        <li><h2>이름</h2></li>
                    </ul>

                  </div>
                </div>
              </li>
 </html>