<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/notice_board.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Notice</title>
</head>
<body>
    <div class="header">
        <a href="/">
          <img src="{{ url_for('static', filename='img/logo2.png') }}" class="logo" alt="Soongsil University Logo">
        </a>
        <nav>
          <ul class="container ul-reset">
            {% include 'navbar.html' %}
          </ul>
        </nav>
    </div>

    <div class="container1">
        <div class="aside">
            <h3> 게시판 </h3>
            <a href="javascript:void(0)" class="active">
            공지사항
            </a>
            <a href="/equipments">
            비품게시판
            </a>
    </div>

    <div class="main-content">
        <div class="top_bg">
          <h3>숭실대 AI융합학부</h3>
          <p>게시판</p>
        </div>

        <div class="path">
            <ul>
              <li>
                <i class="fa-solid fa-house">&nbsp;</i>
                <i class="fa-solid fa-angle-right">&nbsp;</i>
              </li>
              <li>게시판</li>
              <li>
              <i class="fa-solid fa-angle-right">&nbsp;</i>
              </li>
              <li>공지사항</li>
            </ul>
            <h4></h4>
          </div>


<main>
    <div class="search">
        <form action="/search_board" method="get">
            <input type="text" name="query" placeholder="검색어를 입력하세요." required>
            <select name="type">
                <option value="both">제목+내용</option>
                <option value="title">제목만</option>
                <option value="content">내용만</option>
            </select>
            <button type="submit">검색</button>
        </form>

        <form action="/write">
            <button type="submit" class="write-btn">글쓰기</button>
         </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>제목</th>
                <th>글쓴이</th>
                <th>조회수</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data_list %}
            <tr>
                <td {% if i.theme == '공지' %}style="font-weight: bold; color: red;"{% endif %}>
                    <a href="/notice_board/{{ i.num }}/">{{ i.title }}</a>
                </td>                
                <td>{{ i.writer }}</td>
                <td>{{ i.views }}</td>
                <td>{{ i.createdAt }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <div class="page-btn">
            <span class="num active">1</span>
        </div>

</main>

<script> //뒤로가기 버튼 눌렀을 때 강제로 새로고침
    window.onpageshow = function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    };
</script>

{%with messages = get_flashed_messages()%}
{%if messages %}
  <script type="text/javascript"> //Flask에서 경고문이 왔다면 창에 띄워준다
    alert("{{messages[-1]}}");
  </script>
  {%endif%}
{%endwith%}

<div style="margin-top: 50px;"></div>

<div class="footer">
    <p>06978 서울시 동작구 상도로 369 숭실대학교 형남공학관 424호</p>
    <p>E-Mail : smartsystem@soongsil.ac.kr | Tel: 02-820-0950</p>
</div>

</body>
</html>
