<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
<form method="POST" id="authForm">
    <div>
        <h3> Register</h3>
        <p>
            <label for="regi_id">ID&nbsp&nbsp&nbsp</label>
            <input type="text" id="regi_id" name="regi_id">
        </p>

        <p>
            <label for="regi_pw">Password</label>
            <input type="password" id="regi_pw" name="regi_pw">
        </p>

        <p> <!-- 학번 -->
            <label for="regi_sn">Student Number</label>
            <input type="text" id="regi_sn" name="regi_sn">
        </p>

        <p> <!-- 전화번호 -->
            <label for="regi_pn">Phone Number</label>
            <input type="text" id="regi_pn" name="regi_pn">
        </p>
        <input type="submit" name="submit" value="submit" style="WIDTH: 183pt"/>
    </div>
</form>

</body>
</html>