<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>예약 현황</title>
    <link href=https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css' rel='stylesheet' />
    <button class="btn" onclick="location.href='/reserve'">예약 페이지로 이동하기</button>
    <style>
        .btn {
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 10px;
            padding: 10px 20px;
            cursor: pointer;
          }
          
          .btn:hover {
            background-color: #2980b9;
          }
    </style>
</head>
<body>
    <h1>예약 현황</h1>
    <div id='calendar'></div>  <!-- 달력을 표시할 요소 -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: '/get-reservations',
                eventDisplay: 'block',
                displayEventTime: false,
<!--                displayEventEnd: false-->
                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit',
                    meridiem: false,
                    hour12: false
                }
            });
            calendar.render();
        });
    </script>

{%with messages = get_flashed_messages()%}
{%if messages %}
  <script type="text/javascript"> //Flask에서 경고문이 왔다면 창에 띄워준다
    alert("{{messages[-1]}}");
  </script>
  {%endif%}
{%endwith%}

</body>
</html>
